.container {
    overflow-x: auto;
    white-space: nowrap;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card {
    width: calc(20% - 20px);
    margin-right: 20px;
    box-sizing: border-box;
}

.card:last-child {
    margin-right: 0;
}